/* RESPONSIVE AREA */



/* FOR DESKTOP */


/*1600 x 900*/ 
@media screen and (max-width:1600px) {
    .overlay > a {
        left:144px;
    }
    .link-medium {
        left:244px!important;
    }
}

/* 1536 X 864 */
@media screen and (max-width:1536px) {
    .overlay > a {
        left:140px;
    }
    .link-medium {
        left:240px!important;
        
    }
}

/* 1366 X 768 */
@media screen and (max-width:1366px) {
    .overlay > a {
        left:115px;
    }
    .text {
        font-size:40px;
    }
    .link-medium {
        left:194px!important;
        bottom:100px!important;
    }
}

/* 1280 X 800 */
@media screen and (max-width:1280px) {
    .overlay > a {
        left:114px;
    }
    .link-medium {
        left:196px!important;
        bottom:100px!important;
    }
    .category-name {
        font-size:8px;
        top:45px;
    }
}



/* FOR MOBILE DEVICES */
/* 1024 X 1366 */
@media screen and (max-width:1024px) {
    .text {
        font-size:40px;
    }
    .overlay > a {
        left:100px;
        bottom:50px;
    }
    .text-medium {
        font-size:45px;
    }
    .link-medium {
        left:163px!important;
        bottom:70px!important;
    }
}

/* 768 X 1024 */
@media screen and (max-width:768px) {
    .hamburger {
        display:block;
    }
    .navbar-brand img {
        margin-left:20px;
        height:60px;
        width:60px;
        margin-top:10px;
    }
    .search {
        width:250px!important;
        margin-left:-20px;
    }
    .fas.fa-search {
        margin-left:-10px!important;
    }
    .navbar-bottom {
        display:none;
    }
    .carousel-inner{
        margin-top:100px;
        height:700px;
    }
    .carousel-inner > .carousel-item > img {
        height:500px;
    }
    .carousel-control-prev,.carousel-control-next {
        margin-top:-150px;
    }
    .caption-title,.caption-text,.btn-order{
        margin-top:-120px;
        margin-left:-50px;
    }
    .carousel-indicators button {
        margin-top:-200px;
    } 

    .text-center {
        margin-top:-120px;
    }
    .text {
        font-size:30px;
    }
    .overlay > a {
        left:45px;
        bottom:30px;
        padding:8px;
    }
    .text-medium {
        font-size:30px;
    }
    .link-medium {
        left:95px!important;
        bottom:40px!important;
        padding:13px!important;
    }
    .item-category {
        margin-top:200px;
    }
}

/* 540 X 720 */
@media screen and (max-width:540px) {
    .navbar-brand{
        margin-left:10px;
    }
    .search {
        margin-left:-110px;
        width:250px;
    }
    .fas.fa-search {
        margin-left:-100px!important;
    }
    .fas.fa-shopping-cart {
        margin-top:30px;
        margin-left:-10px
    }
    .caption-title,.caption-text,.btn-order {
        left:150px!important;
    }
    .carousel-control-prev,.carousel-control-next {
        height:50px;
        width:50px;
        margin-top:250px;
    }
    .text {
        font-size:50px;
    }
    .overlay > a {
        left:182px;
        bottom:90px;
        padding:10px;
        font-size:20px;
    }
    .pharmacy {
        height:400px!important;
    }
    .text-medium {
        font-size:45px;
    }
    .link-medium {
        left:182px!important;
        bottom:70px!important;
    }
}
/* 414 X 736 */
@media screen and (max-width:414px) {
    .navbar-brand img{
        margin:10px 10px;
        width:50px;
        height:55px;
    }
    .search {
        width: 210px!important;
        padding-right:0;
    }
    .fas.fa-shopping-cart {
        margin-top:30px;
        margin-left:-20px;
        font-size:18px;
    } 
    .fas.fa-user {
        font-size:18px;
    }
    .carousel-inner{
        margin-top:100px;
    }
    .carousel-inner > .carousel-item > img {
        height:400px;
    }
    .caption-title,.caption-text{
        margin-top:-180px;
        left:120px!important;
        font-size:20px;
    }
    .btn-order {
        margin:-130px -80px;
    }
    .carousel-control-prev,.carousel-control-next {
        height:40px;
        width:40px;
        margin-top:200px;
    }
    .carousel-indicators button {
        margin-top:-280px;
    } 
    .text-center{
        margin-top:-190px;
    }
    .text,.text-medium  {
        font-size:40px;
    }
    .overlay > a,.link-medium {
        left:140px!important;
        bottom:60px!important;
        padding:8px!important;
        font-size:18px!important;
    }
    .pharmacy {
        height:300px!important;
    }
}

/* 411 X 833 */
@media screen and (max-width:411px) {
    .fas.fa-shopping-cart {
        margin-top:30px;
        margin-left:-20px;
        font-size:17px;
    } 
    .fas.fa-user {
        font-size:17px;
    }
}

/*376 to 398*/
@media screen and (max-width:398px) {
    .navbar-brand img{
        margin:14px 3px!important;
        width:50px;
        height:50px;
    }
    .fas.fa-shopping-cart {
        margin-top:35px;
        margin-left:-8px;
        font-size:15px;
    } 
    .fas.fa-user {
        position: absolute;
        font-size:15px;
        margin-top:35px;
    }
    .text-center{
        margin-top:-220px;
        font-size:38px;
    }
    .text,.text-medium  {
        font-size:35px;
    }
    .overlay > a,.link-medium {
        left:120px!important;
        bottom:60px!important;
        padding:8px!important;
        font-size:18px!important;
    }
}

/* 375 x 812 */
@media screen and (max-width:375px) {
    .navbar-brand img{
        margin:14px 3px!important;
        width:50px;
        height:50px;
    }
    .fas.fa-shopping-cart {
        margin-top:35px;
        margin-left:-8px;
        font-size:15px;
    } 
    .fas.fa-user {
        position: absolute;
        font-size:15px;
        margin-top:35px;
    }
    .text-center{
        margin-top:-220px;
        font-size:38px;
    }
    .text,.text-medium  {
        font-size:35px;
    }
    .overlay > a,.link-medium {
        left:120px!important;
        bottom:60px!important;
        padding:8px!important;
        font-size:18px!important;
    }
}

/* 360 X 640 */
@media screen and (max-width:360px) {
    .navbar-brand img{
        margin:15px 0px!important;
        width:45px;
        height:45px;
    }
    .caption-title,.caption-text{
        margin-top:-180px;
        left:120px!important;
        font-size:17px;
    }
    .overlay > a,.link-medium {
        left:120px!important;
        bottom:60px!important;
        padding:8px!important;
        font-size:15px!important;
    }
    .items {
        margin-top:-30px;
    }
}

/*320 X 568 */ 
@media screen and (max-width:320px) {
    .hamburger{
        top:30px;
    }
    .navbar-brand img{
        margin:10px 10px!important;
        width:45px;
        height:45px;
    }
    .search {
        width:150px!important;
        left:35px;
        top:-5px;
    }
    .fas.fa-search {
        left:205px!important;
        top:36px!important;
    }
    .fas.fa-shopping-cart {
        margin:30px 0 0 -15px;
    }
    .fas.fa-user {
        margin-top:30px;
    }
    .caption-title,.caption-text{
        margin-top:-180px;
        left:100px!important;
        font-size:14px;
    }
    .btn-order {
        margin-left:-100px;
    }
    .text,.text-medium  {
        font-size:25px;
    }
    .overlay > a,.link-medium {
        left:96px!important;
        bottom:60px!important;
        padding:8px!important;
        font-size:16px!important;
    }  
    .pharmacy {
        height: 240px!important;
    }
}
